[Unit]
Description=Simple control for OSD
After=getty@tty2.service

[Service]
Type=oneshot
ExecStart=/home/pi/wbc-utils/mavlink/simple-control/watch_keys.sh
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes
User=root

[Install]
WantedBy=default.target
